/**
* @name Hide Store/Nitro tabs
* @author axberu
* @version 0.420.69.1
* @description Gives more space to the DMs page and hides the "New!" store ad nagging.
* @authorId 
* @source https://raw.githubusercontent.com/axberu/vencord-css-snippets/main/hide_store_nitro_tabs.css
*/

/* Nitro tab */
ul[aria-label="Direct Messages"] a[href$="/store"] {
    display: none;
}

/* Store tab */
ul[aria-label="Direct Messages"] a[href$="/shop"] {
    display: none;
}
